body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

my-app {
	display: block;
	margin: 0 auto;
	width: 90%;
}

my-app #quizlist li {
	list-style: none;
}
my-app #quizlist li div {
	border-radius: 2px;
	box-shadow: 0 0 1px #333;
	display: inline-block;
	margin: 0.5em;
	padding: 1em;
}
my-app #quizlist li div p {
	margin: 0;
}

my-quiz-question img {
	box-shadow: 0 0 1px #888;
	display: block;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
}
my-quiz-question #answers {
	display: flex;
	flex-wrap: wrap;
}
my-quiz-question #answers .answer {
	flex-basis: 50%;
	font-size: 1.1em;
	text-align: center;
}
my-quiz-question #answers .answer div {
	background: #1a1a1a;
	color: #eee;
	margin: 0.5em;
	padding: 1em;
}
my-quiz-question #answers .answer div:hover {
	cursor: pointer;
}

my-quiz-result p {
	font-size: 3em;
}

@media all and (orientation: landscape) {
	my-app {
		width: 50%;
	}
}
